<h1>Sign In</h1>
<form action="/BlogEntry/AttemptLogIn" method="post">
    <input type="text" id="username" name="username" placeholder="Username" /> <br />
    <input type="password" id="password" name="password" placeholder="Password" />
    <br />
    <br />
    <input type="submit" name="submit" />
</form>

   
